.root {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  border-radius: var(--radius-s);

  background-color: transparent;
  border: 2px solid var(--color-on-surface-variant);
  transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 200ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;

  // Hover/Press ring
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 44px;
    height: 44px;

    background-color: var(--color-primary);
    border-radius: var(--radius-circle);
    transform: translate(-50%, -50%);

    opacity: 0;
    transition: opacity 100ms linear, background-color 200ms linear;
    z-index: 1;
  }

  &:hover::before {
    opacity: 0.08;
  }

  &:active::before {
    opacity: 0.12;
  }

  &:focus-visible {
    outline: var(--outline-size) solid var(--color-brand);
    outline-offset: var(--outline-size);
  }

  &[data-checked] {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-on-primary);
  }

  &[data-indeterminate] {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-on-primary);
  }

  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.38;
    background-color: transparent;
    border-color: var(--color-on-surface);

    &::before {
      display: none;
    }

    &[data-checked],
    &[data-indeterminate] {
      background-color: var(--color-on-surface);
      border-color: transparent;
      color: var(--color-surface);
    }
  }
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: inherit;

  svg {
    width: 16px;
    height: 16px;
    fill: currentColor;
  }
}