.control {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  padding-block: 12px;
  touch-action: none;
  user-select: none;
  cursor: pointer;

  &[data-disabled] {
    cursor: not-allowed;
    pointer-events: none;
  }
}

.track {
  width: 100%;
  height: 4px;
  background-color: var(--color-primary-container);
  border-radius: var(--radius-circle);
  user-select: none;

  .control[data-disabled] & {
    background-color: color-mix(in srgb,
        var(--color-on-surface) 12%,
        transparent);
  }
}

.indicator {
  border-radius: var(--radius-circle);
  background-color: var(--color-primary);
  user-select: none;

  .control[data-disabled] & {
    background-color: color-mix(in srgb,
        var(--color-on-surface) 38%,
        transparent);
  }
}

.thumb {
  width: 16px;
  height: 16px;
  border-radius: var(--radius-circle);
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  outline: var(--outline-size) solid transparent;
  outline-offset: 0;
  box-shadow: 0 0 0 var(--outline-size) var(--color-surface);
  user-select: none;
  position: relative;
  isolation: isolate;

  transition:
    scale 120ms ease-in-out,
    background-color 120ms ease-in-out,
    outline-color 120ms ease-in-out,
    outline-offset 120ms ease-in-out,
    box-shadow 120ms ease-in-out;

  /* State layer */
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-color: currentColor;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: -1;
    pointer-events: none;
  }

  .control[data-disabled] & {
    background-color: color-mix(in srgb,
        var(--color-on-surface) 38%,
        var(--color-surface));
    box-shadow: 0 0 0 var(--outline-size) var(--color-surface);

    /* Ensure state layer is hidden when disabled */
    &::after {
      display: none;
    }
  }

  &:hover {
    scale: 115%;

    &::after {
      opacity: 0.08;
    }

    transition: scale 200ms ease-in-out,
    background-color 200ms ease-in-out,
    outline-color 200ms ease-in-out,
    outline-offset 200ms ease-in-out,
    box-shadow 200ms ease-in-out;
  }

  &:active {
    scale: 95%;

    &::after {
      opacity: 0.12;
    }

    transition: scale 120ms ease-in-out,
    background-color 120ms ease-in-out,
    outline-color 120ms ease-in-out,
    outline-offset 120ms ease-in-out,
    box-shadow 120ms ease-in-out;
  }

  &:has(:focus-visible) {
    transition:
      scale 1ms ease-in-out,
      background-color 1ms ease-in-out,
      outline-color 1ms ease-in-out,
      outline-offset 1ms ease-in-out,
      box-shadow 1ms ease-in-out;

    outline-color: var(--color-brand);
    outline-offset: var(--outline-size);
    box-shadow: 0 0 0 var(--outline-size) var(--color-surface);

    &::after {
      opacity: 0.12;
    }
  }
}