@use "@/styles/_common.scss" as *;

$nav-height: 100;

:export {
  navHeight: $nav-height;
}

.nav,
.nav * {
  transition: all 0.2s ease-in-out, color 0.05s linear, border 0.01s ease-out, padding 0.1s ease-out;
}

.nav {
  position: fixed;
  top: 2rem;
  left: 50%;
  @include responsiveMaxWidth;
  transform: translateX(-50%);
  height: $nav-height + px;

  border-radius: var(--radius);
  border: var(--borderGlass);
  border-width: 0;
  z-index: 100;

  padding-top: 2rem;

  @include tiny-screen-styles {
    padding: 2rem;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linksSection {
  display: flex;
  align-items: center;
  gap: 2rem;

  >div {
    border-radius: var(--radiusSm);
  }
}

@include tiny-screen-styles {
  .lightEmblem {
    filter: brightness(10);
  }
}

@include tiny-screen-styles {
  .mobileExpanded {
    display: flex !important;
    top: calc(68px + 3rem);

    position: absolute;
    padding: 1rem;

    width: 100%;
    border-radius: var(--radius);

    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    height: 0;
  }

  .opacity1 {
    opacity: 1 !important;
    height: auto !important;
  }

  .navWrapperMobile {
    background: none;
    background-color: #ff3e3e;
  }

  .mobileExpanded {
    background-color: #ff3e3e;
  }

  .linksSection {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .links {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start !important;
    background: none;
    border: none;
  }

  .statusChip {
    background-color: rgba(17, 17, 17, 0.62) !important;
  }

  .statusChip::before {
    backdrop-filter: blur(1px) !important;
  }
}

.hamburger {
  cursor: pointer;
  line-height: 1;
  padding: 1rem;
  display: none;
  width: 3rem;
  height: 3rem;
  border-radius: var(--radiusSm);

  @include tiny-screen-styles {
    display: block;
  }
}

.nav svg {
  display: block;
  width: 1.3rem;
  height: 1.3rem;
}

.nav a,
.nav span {
  padding: 1rem;
  border-radius: var(--radiusSm);
}

.nav a:hover {
  background: var(--c-hover-acrylic);
}

a.emblemLink {
  padding: 0;
  border-radius: 0;
}

a.emblemLink:hover {
  background: none;

  >img {
    opacity: 1 !important;
  }
}

.nav[data-expanded="true"] {
  padding: 2rem;
  border-width: 1px;

  .linksSection {
    gap: 0;
  }
}

@include tiny-screen-styles {
  .mobileNav {
    display: none;
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.online {
  color: var(--c-green);
}

.idle {
  color: #feff43;
}

.dnd {
  color: #ff6e5b;
}

.offline {
  color: #a58888;
}

section.nogap {
  gap: 0;
}

.statusChip {
  position: relative;
  --cutoutColor: rgba(14, 14, 14, 0.384);
  border-radius: var(--radiusSm);
}

.statusChip::before {
  // stripped background gradient
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg,
      var(--cutoutColor) 25%,
      transparent 25%,
      transparent 50%,
      var(--cutoutColor) 50%,
      var(--cutoutColor) 75%,
      transparent 75%,
      transparent);
  backdrop-filter: blur(5px);
  background-size: 1rem 0.3rem;
  animation: blindsScroll 1s linear infinite, flicker 2s linear infinite alternate;
  left: 0;
  top: 0;
  border-radius: var(--radiusSm);
  // z-index: -1;
}

@media (prefers-reduced-motion: reduce) {
  .statusChip::before {
    animation: none;
    opacity: 0.65;
  }
}

@keyframes blindsScroll {
  to {
    background-position: 0 0.3rem;
  }
}

// flickering animation
@keyframes flicker {
  0% {
    opacity: 0.9; //
  }

  5% {
    opacity: 0.65;
  }

  10% {
    opacity: 0.9; //
  }

  15% {
    opacity: 0.65;
  }

  69% {
    opacity: 0.65;
  }

  //
  70% {
    opacity: 0.9; //
  }

  79% {
    opacity: 0.65;
  }

  83% {
    opacity: 0.9; //
  }

  //
  100% {
    opacity: 0.9; //
  }
}

.statusChipExpanded {
  margin-right: 1rem;

  --cutoutColor: rgba(66, 66, 66, 0.38);
  background: none;
}