.companiesCard {
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--color-on-surface-variant);
  margin-bottom: var(--space-m);
}

.carouselWrapper {
  position: relative;
}

.responsiveSlideWidth {
  --slide-width: 100px !important;
}

@include common.tabletScreenStyles {
  .responsiveSlideWidth {
    --slide-width: 250px !important;
  }
}

.svgStyling {
  svg {
    width: auto;
    height: var(--font-size-xxl);
    padding: var(--space-xxs);
  }

  svg,
  svg [fill] {
    transition: fill 120ms ease-out;
  }

  svg:not(:hover),
  svg:not(:hover) [fill] {
    fill: var(--color-on-surface-variant) !important;
  }
}