.companiesCard {
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--color-muted);
  margin-bottom: 1.5rem;
}

.carouselWrapper {
  position: relative;
}

.responsiveSlideWidth {
  --slide-width: 100px !important;
}

@include common.tabletScreenStyles {
  .responsiveSlideWidth {
    --slide-width: 250px !important;
  }
}

.svgStyling {
  svg {
    width: auto;
    height: 5rem;
    padding: 1.25rem;
  }

  svg,
  svg [fill] {
    transition: fill 120ms ease-out;
  }

  svg:not(:hover),
  svg:not(:hover) [fill] {
    fill: var(--color-muted) !important;
  }
}
