.logoCarousel {
  position: relative;
}

.wrapper {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;

  &.pauseOnHover:hover .slider {
    animation-play-state: paused;
  }
}

.slider {
  display: flex;
  animation: slide-left var(--duration, 40s) linear infinite;
  width: calc(var(--slide-width, 200px) * var(--children-length, 1) * 3);
}

.toRight {
  animation-name: slide-right;
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(
      calc(var(--slide-width, 200px) * var(--children-length, 1) * -1)
    );
  }
}

@keyframes slide-right {
  from {
    transform: translateX(
      calc(var(--slide-width, 200px) * var(--children-length, 1) * -1)
    );
  }
  to {
    transform: translateX(0);
  }
}

.slide {
  width: var(--slide-width, 200px);
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

.carouselFade {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 6rem;
  z-index: 10;
  pointer-events: none;

  &.left {
    left: 0;
    background: linear-gradient(
      to right,
      var(--blur-border-color, lime),
      transparent
    );
  }

  &.right {
    right: 0;
    background: linear-gradient(
      to left,
      var(--blur-border-color, lime),
      transparent
    );
  }
}
