.imageAreaCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageArea {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dc2626;
  border-radius: var(--radius);
  height: 25rem;
  width: 100%;
  max-width: 28rem;
}

.imageAreaText {
  font-size: 2.25rem;
  font-weight: 300;
  color: #fff;
}
