@use "@/styles/_common.scss" as *;
.statusText {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.online {
  color: var(--c-green);
}

.richPresence {
  display: flex;
  gap: 1rem;

  img {
    border-radius: var(--radiusXSm);
    width: 4rem;
    height: 4rem;

    @include tiny-screen-styles {
      display: none;
    }
  }
}
