.statusText {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.online {
  color: var(--c-green);
}

.richPresence {
  display: flex;
  gap: 1rem;

  img {
    border-radius: var(--radiusSm);
    width: 4rem;
    height: 4rem;
  }
}
