.statusText {
  font-size: 1.2rem;
  font-weight: bold;
}

.gameText {
  margin-bottom: var(--space-s);
}

.online {
  color: var(--c-green);
}

.idle {
  color: #feff43;
}

.dnd {
  color: #ff6e5b;
}

.offline {
  color: #a58888;
}

.richPresence {
  display: flex;
  gap: var(--space);
  align-items: flex-start;
  flex-wrap: wrap;
}

@include common.tabletScreenStyles {
  .richPresence {
    flex-wrap: nowrap;
  }
}

.wrapper {
  position: relative;
}

.images {
  position: relative;
}

.largeImage {
  border-radius: var(--radius-s);
  width: 64px;
  height: 64px;
}

.smallImage {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: var(--radius-circle);

  bottom: -2px;
  right: -10px;
  border: 3px solid var(--color-surface);
}