.statusText {
  font-size: 1.2rem;
  font-weight: bold;
}

.gameText {
  /* margin-top: 0.4rem; */
  margin-bottom: var(--space-s);
}

.online {
  color: var(--c-green);
}
.idle {
  color: #feff43;
}
.dnd {
  color: #ff6e5b;
}
.offline {
  color: #a58888;
}

.richPresence {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  flex-wrap: wrap;
}

@include common.tabletScreenStyles {
  .richPresence {
    flex-wrap: nowrap;
  }
}

.wrapper {
  position: relative;
}

.images {
  position: relative;
}

.largeImage {
  border-radius: var(--radius-s);
  width: 4rem;
  height: 4rem;
}

.smallImage {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100%;
  bottom: -0.4rem;
  right: -0.4rem;
  border: 3px solid var(--color-surface);
}
