@use "@/styles/_common.scss" as *;

// ===== lounge hub
.loungeHubCard {
  background-color: #7bd1ff;
  background-image: url("../../assets/mcsky.png"), linear-gradient(to bottom, #1c6dff, rgba(255, 255, 255, 0));
  background-blend-mode: soft-light, normal;
  background-size: auto, auto;
  // background-position: 30% 30%, center;
  background-position: 23% 23%, center;
  transition: all 20s ease-out, padding 0.2s ease-out;
  padding-right: 10rem;

  &:hover {
    // animation: backgroundPosition 30s infinite alternate;
    background-position: 70% 70%, center;

    .loungeHubCardBlock {
      rotate: 10deg;
      transform: scale(1.3);
      // right: 0rem;
      // bottom: 0rem;
    }

    .loungeHubCardEmblem {
      rotate: -10deg;
      // transform: scale(1.5);
      right: 5rem;
      bottom: 5rem;
    }
  }
}

// background position move diagonally down right animation
@keyframes backgroundPosition {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes floatingItem {
  0% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(-4px);
  }
}

.loungeHubCardBlock {
  position: absolute;
  width: 10rem;
  height: 10rem;
  right: -2rem;
  bottom: -2rem;
  rotate: 0deg;
  transition: all 0.2s ease-in-out;
  z-index: 2;
}

.loungeHubCardEmblem {
  position: absolute;
  width: 7rem;
  height: auto;
  right: 0rem;
  bottom: 0rem;
  rotate: 0deg;
  transition: all 0.2s ease-out;
  z-index: 1;
}

@include tiny-screen-styles {
  .loungeHubCard,
  .loungeHubCard:hover {
    background-position: 70% 70%, center;
    padding-bottom: 10rem;
    padding-right: 2rem;

    .loungeHubCardBlock {
      rotate: 10deg;
      transform: scale(1);
      right: 0rem;
      // bottom: 0rem;
    }

    .loungeHubCardEmblem {
      rotate: -10deg;
      // transform: scale(1.5);
      right: 6rem;
      bottom: 4rem;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .loungeHubCard,
  .loungeHubCard:hover {
    background-position: 70% 70%, center;

    .loungeHubCardBlock {
      rotate: 10deg;
      transform: scale(1);
      // right: 0rem;
      // bottom: 0rem;
    }

    .loungeHubCardEmblem {
      rotate: -10deg;
      // transform: scale(1.5);
      right: 4rem;
      bottom: 4rem;
    }

    @include tiny-screen-styles {
      .loungeHubCardEmblem {
        rotate: -10deg;
        // transform: scale(1.5);
        right: 6rem;
        bottom: 4rem;
      }
    }
  }
}

// ===== discord

.discordREADMEBadgeCard {
  background-color: #5865f2;
  padding-right: 15rem;
  background-image: url("../../assets/readme-card.png");
  background-size: auto 10rem;
  background-position: calc(100% + 7rem) 3.2rem;
  background-repeat: no-repeat;

  &:hover {
    background-position: calc(100% + 7rem - 20%) 2rem;
  }

  &:hover .discordREADMESparkleMain {
    opacity: 100;
  }

  &:hover .discordREADMESparkleLeft {
    opacity: 100;
  }

  &:hover .discordREADMESparkleRight {
    opacity: 100;
  }

  &:hover .discordREADMESparkleMain {
    transition: all 1s ease-out;
    animation: floatingItem 1.2s infinite alternate ease-in-out;
  }

  &:hover .discordREADMESparkleLeft {
    transition: all 1s ease-out;
    animation: floatingItem 1.6s infinite alternate ease-in-out;
  }

  &:hover .discordREADMESparkleRight {
    transition: all 1s ease-out;
    animation: floatingItem 1.4s infinite alternate ease-in-out;
  }
}

.discordREADMESparkleMain {
  position: absolute;
  width: auto;
  height: 4rem;
  opacity: 0;
  left: -1rem;
  top: -1rem;
  rotate: 0deg;
  transition: all 0.2s ease-out;
  z-index: 1;
}

.discordREADMESparkleLeft,
.discordREADMESparkleRight {
  position: absolute;
  opacity: 0;
  width: auto;
  height: 1.4rem;
  rotate: 0deg;
  transition: all 0.2s ease-out;
  z-index: 2;
}

.discordREADMESparkleLeft {
  left: -1.3rem;
  top: 2rem;
}

.discordREADMESparkleRight {
  left: 1.5rem;
  top: -2rem;
}

@include tiny-screen-styles {
  .discordREADMEBadgeCard,
  .discordREADMEBadgeCard:hover {
    padding-right: 2rem;
    background-position: calc(100% + 8rem) calc(100% + 1rem);
    padding-bottom: 10rem;
  }

  .discordREADMESparkleMain {
    animation: floatingItem 1.2s infinite alternate ease-in-out;
  }

  .discordREADMESparkleLeft {
    animation: floatingItem 1.6s infinite alternate ease-in-out;
  }

  .discordREADMESparkleRight {
    animation: floatingItem 1.4s infinite alternate ease-in-out;
  }

  .discordREADMESparkleMain,
  .discordREADMESparkleLeft,
  .discordREADMESparkleRight {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  .discordREADMEBadgeCard,
  .discordREADMEBadgeCard:hover {
    background-position: calc(100% + 7rem) 3.2rem !important;
  }

  @include tiny-screen-styles {
    .discordREADMEBadgeCard,
    .discordREADMEBadgeCard:hover {
      background-position: calc(100% + 8rem) calc(100% + 1rem) !important;
    }
  }

  .discordREADMEBadgeCard .discordREADMESparkleMain {
    opacity: 1;
  }

  .discordREADMEBadgeCard .discordREADMESparkleLeft {
    opacity: 1;
  }

  .discordREADMEBadgeCard .discordREADMESparkleRight {
    opacity: 1;
  }
  .discordREADMEBadgeCard,
  .discordREADMEBadgeCard:hover {
    .discordREADMESparkleMain,
    .discordREADMESparkleLeft,
    .discordREADMESparkleRight {
      animation: none;
    }
  }
}
// ===== github

.githubProjectTrackerCard {
  background-color: #e7e7e7;
  color: #444;
  background-image: url("../../assets/timeline.png");
  background-size: 100.5%;
  background-position: center 100%;
  background-repeat: no-repeat;

  position: relative;
  overflow: hidden;

  &:hover {
    background-position: center calc(100% + 0.5rem);
  }

  &:hover .githubProjectIcon {
    top: 0rem;
    right: 0rem;
    transform: rotate(-30deg);
  }
}

.githubProjectIcon {
  position: absolute;
  width: 4rem;
  height: auto;
  top: -4rem;
  right: -4rem;
  rotate: 0deg;
  transition: all 0.2s ease-out;
  z-index: 1;
}

@include tiny-screen-styles {
  .githubProjectTrackerCard,
  .githubProjectTrackerCard:hover {
    background-position: center 100%;
  }
  .githubProjectIcon {
    top: 0rem;
    right: 0rem;
    width: 2.7rem;
    transform: rotate(-30deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  .githubProjectTrackerCard:hover {
    background-position: center 100%;
  }
  .githubProjectIcon {
    top: 0rem;
    right: 0rem;
    transform: rotate(-30deg);
  }
}

// ===== see more projects

.seeMoreProjectsCard {
  background-color: #242424;

  background-image: url("../../assets/emblem-pop.png");
  background-size: auto 140%;
  background-position: 98% -20%;
  background-repeat: no-repeat;

  position: relative;
  overflow: hidden;

  &:hover {
    background-position: 105% 10%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .seeMoreProjectsCard {
    background-position: 105% 10%;
  }
}

.seeMoreProjectIcon {
  position: absolute;
  width: auto;
  height: 2rem;
  bottom: 12%;
  left: 14rem;
  rotate: 0deg;
  transition: all 0.2s ease-out;
  z-index: 1;
}

.seeMoreDayShapeImg {
  position: absolute;
  width: auto;
  height: 2rem;
  top: 30%;
  left: 33%;
  rotate: 0deg;
  transition: all 0.2s ease-out;
  z-index: 1;
}

.seeMoreProjectspaceIcon {
  position: absolute;
  width: auto;
  height: 2rem;
  top: 12%;
  right: 20rem;
  rotate: 0deg;
  transition: all 0.2s ease-out;
  z-index: 1;
}

.seeMoreCheckmarkIcon {
  position: absolute;
  width: 2rem;
  height: auto;
  top: 34%;
  right: 45%;
  rotate: 0deg;
  transition: all 0.2s ease-out;
  z-index: 1;
}

@include tiny-screen-styles {
  .seeMoreProjectsCard {
    background-position: 105% 10%;
    overflow: initial;
  }

  .seeMoreProjectIcon {
    top: 0rem;
    left: 0rem;
  }

  .seeMoreDayShapeImg {
    top: 0rem;
    left: 2.5rem;
  }

  .seeMoreProjectspaceIcon {
    top: calc(100% - 2rem);
    right: 0rem;
  }

  .seeMoreCheckmarkIcon {
    display: none;
  }
}

.seeMoreProjectIcon {
  animation: floatingItem 1.2s infinite alternate ease-in-out;
}

.seeMoreDayShapeImg {
  animation: floatingItem 1.4s infinite alternate ease-in-out;
}

.seeMoreProjectspaceIcon {
  animation: floatingItem 1.6s infinite alternate ease-in-out;
}

.seeMoreCheckmarkIcon {
  animation: floatingItem 1.8s infinite alternate ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .seeMoreProjectIcon {
    animation: none;
  }

  .seeMoreDayShapeImg {
    animation: none;
  }

  .seeMoreProjectspaceIcon {
    animation: none;
  }

  .seeMoreCheckmarkIcon {
    animation: none;
  }
}

// ===== twitter

.twitterCard {
  background-color: #1d9bf0;
  background-image: url("../../assets/twitter-render.png");
  background-size: auto 140%;
  background-position: 95% -50%;
  background-repeat: no-repeat;

  position: relative;
  overflow: hidden;

  &:hover {
    background-position: 95% -20%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .twitterCard:hover {
    background-position: 95% -50%;
  }
}

@include tiny-screen-styles {
  .twitterCard,
  .twitterCard:hover {
    background-size: auto 2rem;
    background-position: 93% 20%;
  }
}

// ===== myimages

.myimagesCard {
  padding-bottom: 3rem;
  background-color: #f0f0f0;
  color: #000;
  background-image: url("../../assets/myimages-screenshot.png");
  background-size: auto 10rem;
  background-position: center calc(100% + 9rem);
  background-repeat: no-repeat;

  position: relative;
  overflow: hidden;

  &:hover {
    background-position: center bottom;
    padding-bottom: 12rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .myimagesCard:hover {
    padding-bottom: 3rem;
    background-position: center calc(100% + 9rem);
  }
}

@include tiny-screen-styles {
  .myimagesCard,
  .myimagesCard:hover {
    padding-bottom: 3rem;
    background-position: left calc(100% + 9rem);
  }
}

// ===== system status

.systemStatusCard {
  position: relative;
  overflow: hidden;
  background-color: #000;
}

.systemStatusCard::before {
  background-image: url("../../assets/status-render.png");
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;

  filter: contrast(130%) brightness(10%); // NOLIGHT
  // filter: contrast(110%) brightness(90%); // INDEV
  transition: all 0.2s ease-out;

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.systemStatusCardContent {
  position: relative;
}

.systemStatusCard:hover::before {
  animation: flickerFilter 2s linear infinite alternate;
}

@include tiny-screen-styles {
  .systemStatusCard::before {
    filter: contrast(100%) brightness(100%);
    animation: flickerFilter 2s linear infinite alternate;
  }
}

@media (prefers-reduced-motion: reduce) {
  .systemStatusCard::before {
    filter: contrast(100%) brightness(100%);
    animation: none;
  }

  .systemStatusCard:hover::before {
    animation: none;
  }
}

// flickering animation
@keyframes flickerFilter {
  0% {
    filter: contrast(100%) brightness(100%); //
  }
  5% {
    filter: contrast(100%) brightness(40%);
  }
  10% {
    filter: contrast(100%) brightness(100%); //
  }
  15% {
    filter: contrast(100%) brightness(40%);
  }
  69% {
    filter: contrast(100%) brightness(40%);
  }
  //
  70% {
    filter: contrast(100%) brightness(100%); //
  }
  79% {
    filter: contrast(100%) brightness(40%);
  }
  83% {
    filter: contrast(100%) brightness(100%); //
  }
  //
  100% {
    filter: contrast(100%) brightness(100%); //
  }
}
