@use "@/styles/_common.scss" as *;

.footer {
  background-color: lime;
  color: #fff;
  padding: var(--space-xl) var(--space-xxl);

  @include tiny-screen-styles {
    padding: var(--space-xxl);
  }
}

.content {
  @include responsiveMaxWidth;
  margin: 0 auto;
}

.emblem {
  opacity: 1;
  transform: scale(1);
  transform: translate(0, 0);
}

.images {
  display: flex;
  justify-content: space-between;
  // align-items: top;
  flex-wrap: wrap;
  margin-top: var(--space-xl);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: top;
  gap: var(--space-m);
}

.socials svg {
  width: var(--font-size-m);
  height: var(--font-size-m);
  margin-right: var(--space-m);
  fill: #fff;
}

// add multiple drop shadows to svgs to make it look 3d
.images svg {
  width: var(--font-size-m);
  height: var(--font-size-m);
  margin-right: var(--space-m);
  fill: #fff;
}