.flexRow {
  display: flex;
  align-items: center;
}

.infoRow {
  gap: var(--space);
  margin-bottom: 0.5rem;
  font-size: var(--font-size-s);
}

.infoCell {
  gap: var(--space-xs);

  svg {
    width: 1em;
    height: 1em;
    display: block;
  }
}

.commitMessage {
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(2 * 1.2em); /* 2 lines * line-height */
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-size: 100% 100%;
}

.timestamp {
  font-size: var(--font-size-s);
  color: var(--color-muted);
}
