.cardWrapper {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  align-items: center;
}

.infoRow {
  gap: var(--space);
  margin-bottom: 0.5rem;
  font-size: var(--font-size-s);
}

.infoCell {
  gap: var(--space-xs);

  svg {
    width: 1em;
    height: 1em;
    display: block;
  }
}

.commitMessageWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  flex-grow: 1;
}

@include common.tabletScreenStyles {
  .commitMessage {
    height: 100%;
    max-height: calc(2 * 1.2em);
    overflow: hidden;

    mask-image: linear-gradient(to bottom, black 50%, transparent 98%);
    mask-size: 100% 100%;
  }
}

.timestamp {
  font-size: var(--font-size-s);
  color: var(--color-muted);
  margin-top: auto;
}
