.card {
  color: var(--color-text);
  background-color: var(--color-surface);
  border-radius: var(--radius-m);
}

.padding-none {
  padding: 0;
}

.padding-xxs {
  padding: var(--space-xxs);
}

.padding-xs {
  padding: var(--space-xs);
}

.padding-s {
  padding: var(--space-s);
}

.padding-default {
  padding: var(--space);
}

.padding-m {
  padding: var(--space-m);
}

.padding-l {
  padding: var(--space-l);
}

.padding-xl {
  padding: var(--space-xl);
}
