.card {
  color: var(--color-on-surface);
  background-color: var(--color-surface);
  border-radius: var(--radius-m);
}

.padding-none {
  padding: 0;
}

.padding-xxs {
  padding: var(--space-xxs);
}

.padding-xs {
  padding: var(--space-xs);
}

.padding-s {
  padding: var(--space-s);
}

.padding-default {
  padding: var(--space);
}

.padding-m {
  padding: var(--space-m);
}

.padding-l {
  padding: var(--space-l);
}

.padding-xl {
  padding: var(--space-xl);
}

.gap-none {
  gap: 0;
}

.gap-xxs {
  gap: var(--space-xxs);
}

.gap-xs {
  gap: var(--space-xs);
}

.gap-s {
  gap: var(--space-s);
}

.gap-default {
  gap: var(--space);
}

.gap-m {
  gap: var(--space-m);
}

.gap-l {
  gap: var(--space-l);
}

.gap-xl {
  gap: var(--space-xl);
}

.smallHeading {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--space-s);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
