// https://zyplos.github.io/poline/?anchors=%5B%5B349.98424496266375%2C0.34285714285714297%2C0.931967403139967%5D%2C%5B44.370074960046225%2C0.34285714285714297%2C0.031683016502152106%5D%5D&steps=11&invertedLightness=true&closedLoop=false&fnx=linearPosition&fny=sinusoidalPosition&fnz=linearPosition&model=okhsl&bg=dark
:root {
  --sandstone-50: #f4e8ed;
  --sandstone-100: #e9d0cb;
  --sandstone-200: #d8b3a3;
  --sandstone-300: #c39780;
  --sandstone-400: #a87e66;
  --sandstone-500: #8e6751;
  --sandstone-600: #745340;
  --sandstone-700: #5d4232;
  --sandstone-800: #493225;
  --sandstone-900: #36241a;
  --sandstone-1000: #261810;
  --sandstone-1100: #160c08;
  --sandstone-1200: #0a0505;

  --primary-50: #ffd8da;
  --primary-100: #ffb2b4;
  --primary-200: #ff8c8d;
  --primary-300: #ff6666;
  --primary-400: #ff3e3e;
  --primary-500: #ff1c1b;
  --primary-600: #f40200;
  --primary-700: #ce0200;
  --primary-800: #a80200;
  --primary-900: #830100;
  --primary-1000: #5d0100;
  --primary-1100: #370100;
  --primary-1200: #110000;
}
