// https://zyplos.github.io/poline/?anchors=%5B%5B7.936067444031096%2C0.34285714285714297%2C0.9296518019206093%5D%2C%5B44.370074960046225%2C0.34285714285714297%2C0.03168301650215233%5D%5D&steps=13&invertedLightness=true&closedLoop=false&fnx=linearPosition&fny=sinusoidalPosition&fnz=linearPosition&model=okhsl&bg=dark
:root {
  --sandstone-50: #f4e7e8;
  --sandstone-100: #e8d0c7;
  --sandstone-200: #d8b6a3;
  --sandstone-300: #c59d83;
  --sandstone-400: #af876b;
  --sandstone-500: #977258;
  --sandstone-600: #806048;
  --sandstone-700: #6b4f3a;
  --sandstone-800: #58402e;
  --sandstone-900: #473224;
  --sandstone-1000: #37261b;
  --sandstone-1100: #291c12;
  --sandstone-1200: #1d120b;
  --sandstone-1300: #110905;
  --sandstone-1400: #0a0505;
}
