@use "@/styles/_common.scss" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 19px;

  @include tiny-screen-styles {
    font-size: 16px;
  }
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
}

body {
  color: #eedbdb;
  background: #0a0505;
  font-family: var(--font-body);
  transition: all 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-heading);
  color: var(--color-text-header);
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-l);
}

h3 {
  font-size: var(--font-size-m);
}

h4,
h5,
h6 {
  font-size: var(--font-size);
}

pre {
  font-family: var(--font-monospace);
  overflow-x: auto;
}

code {
  font-family: var(--font-monospace);
  font-size: inherit;
}

a {
  color: var(--color-link);
}

/* ===== global classes */
.monospace {
  font-family: var(--font-monospace);
}

.italic {
  font-style: italic;
}

.noWrap {
  white-space: nowrap;
}

.bold {
  font-weight: var(--font-weight-bold);
}

.textMuted {
  color: var(--color-muted);
}

.bottomSpaceMargin {
  margin-bottom: var(--space);
}

.sectionMargin {
  margin-bottom: var(--space-xl);
}

.paragraphMargin {
  margin-bottom: var(--space-l);
}

.textContent {
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-bottom: var(--space);
  }

  > p {
    margin-top: var(--space);
  }
}

.centeredContainer {
  width: var(--max-width-percent);
  max-width: var(--max-width-pixel);
  margin-left: auto;
  margin-right: auto;
}

// scroll mask stuff
// https://chanhdai.com/components/scroll-fade-effect
@property --top-mask-height {
  syntax: "<length>";
  inherits: true;
  initial-value: 0px;
}

@property --bottom-mask-height {
  syntax: "<length>";
  inherits: true;
  initial-value: 64px;
}

@property --left-mask-width {
  syntax: "<length>";
  inherits: true;
  initial-value: 0px;
}

@property --right-mask-width {
  syntax: "<length>";
  inherits: true;
  initial-value: 32px;
}

@keyframes show-top-mask {
  to {
    --top-mask-height: var(--mask-height);
  }
}

@keyframes hide-bottom-mask {
  to {
    --bottom-mask-height: 0px;
  }
}

@keyframes show-left-mask {
  to {
    --left-mask-width: var(--mask-width);
  }
}

@keyframes hide-right-mask {
  to {
    --right-mask-width: 0px;
  }
}

.scrollMaskY {
  --mask-height: 64px;
  --mask-offset-top: 0px;
  --mask-offset-bottom: 0px;
  --scroll-buffer: 2rem;

  mask-image:
    linear-gradient(to top, transparent, black 90%),
    linear-gradient(to bottom, transparent 0%, black 100%),
    linear-gradient(black, black);

  mask-size:
    100% var(--top-mask-height),
    100% var(--bottom-mask-height),
    100% 100%;

  mask-repeat: no-repeat, no-repeat, no-repeat;

  mask-position:
    0 var(--mask-offset-top),
    0 calc(100% - var(--mask-offset-bottom)),
    0 0;

  mask-composite: exclude;

  animation-name: show-top-mask, hide-bottom-mask;
  animation-timeline: scroll(self), scroll(self);
  animation-range:
    0 var(--scroll-buffer),
    calc(100% - var(--scroll-buffer)) 100%;
  animation-fill-mode: both;
}

.scrollMaskX {
  --mask-width: 32px;
  --mask-offset-left: 0px;
  --mask-offset-right: 0px;
  --scroll-buffer: 2rem;

  mask-image:
    linear-gradient(to left, transparent, black 90%),
    linear-gradient(to right, transparent 0%, black 100%),
    linear-gradient(black, black);

  mask-size:
    var(--left-mask-width) 100%,
    var(--right-mask-width) 100%,
    100% 100%;

  mask-repeat: no-repeat, no-repeat, no-repeat;

  mask-position:
    var(--mask-offset-left) 0,
    calc(100% - var(--mask-offset-right)) 0,
    0 0;

  mask-composite: exclude;

  animation-name: show-left-mask, hide-right-mask;
  animation-timeline: scroll(self inline), scroll(self inline);
  animation-range:
    0 var(--scroll-buffer),
    calc(100% - var(--scroll-buffer)) 100%;
  animation-fill-mode: both;
}
