@use "@/styles/_common.scss" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 19px;

  @include tiny-screen-styles {
    font-size: 16px;
  }
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
}

body {
  color: #eedbdb;
  background: #0a0505;
  font-family: var(--font-body);
  transition: all 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-heading);
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-l);
}

h3 {
  font-size: var(--font-size-m);
}

h4,
h5,
h6 {
  font-size: var(--font-size);
}

pre {
  font-family: var(--font-monospace);
  overflow-x: auto;
}

code {
  font-family: var(--font-monospace);
  font-size: inherit;
}

a {
  color: var(--color-link);
}

/* ===== global classes */
.monospace {
  font-family: var(--font-monospace);
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: var(--font-weight-bold);
}

.textMuted {
  color: var(--color-muted);
}

.bottomSpaceMargin {
  margin-bottom: var(--space);
}

.sectionMargin {
  margin-bottom: var(--space-xl);
}

.paragraphMargin {
  margin-bottom: var(--space-l);
}

.textContent {
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-bottom: var(--space);
  }

  > p {
    margin-top: var(--space);
  }
}

.centeredContainer {
  width: var(--max-width-percent);
  max-width: var(--max-width-pixel);
  margin-left: auto;
  margin-right: auto;
}
