* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  width: 100%;
}

body {
  color: #fff;
  background: #111;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* common styles */
.glass {
  background: linear-gradient(180deg, rgba(36, 36, 36, 0) 0%, rgba(26, 26, 26, 0.5) 100%);
  backdrop-filter: blur(8px);
  border-radius: var(--radius);
  border: var(--borderGlass);
  border-width: 1px;
  box-shadow: 0px 7px 20px 0px rgba(100, 102, 121, 0.075);
}
