// ===== whole page wrapper
.wrapper {
  --grid-margin: var(--space-s);

  background-color: var(--color-background);
  padding: var(--grid-margin);

  display: flex;
  flex-direction: column;
  gap: var(--grid-margin);
}

@include common.tabletScreenStyles {
  .wrapper {
    --grid-margin: var(--space);
  }
}

// ===== ===== above fold grid
.introGridWrapper {
  display: grid;
  gap: var(--grid-margin);
  /* margin-bottom: var(--grid-margin); */
}

@media (min-width: 1300px) {
  .introGridWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

// ===== left side with image
/* .leftColumn {
  height: 100%;
} */

// ===== right side with text
.rightColumn {
  display: flex;
  flex-direction: column;
  gap: var(--grid-margin);
}

// ===== middle grid with dynamic info
.infoCardsGrid {
  display: grid;
  gap: var(--grid-margin);
}

@include common.tabletScreenStyles {
  .infoCardsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

// ===== ===== bottom grid with walk card
$bottomGrid_MinFull: 600px;
.bottomGrid {
  display: grid;
  gap: var(--grid-margin);
}

@media (min-width: $bottomGrid_MinFull) {
  .bottomGrid {
    grid-template-columns: auto 1fr;
  }
}

// =====
.walkCard {
  height: 13.75rem;
  width: 100%;
}

@media (min-width: $bottomGrid_MinFull) {
  .walkCard {
    width: 12.5rem;
    height: 100%;
  }
}

// ===== ===== stuff i do
.ycGagAndSettingsRow {
  display: flex;
  flex-direction: row;
  gap: var(--grid-margin);
}

// ===== ===== stuff i do
.stuffIDoGrid {
  display: grid;
  gap: var(--grid-margin);

  grid-template-areas:
    "backend backend"
    "img-backend img-frontend"
    "frontend frontend";
}

@media (min-width: 800px) {
  .stuffIDoGrid {
    grid-template-columns: 300px 1fr 1fr;
    grid-template-rows: auto auto;

    grid-template-areas:
      "backend backend img-backend"
      "frontend frontend img-frontend";
  }
}

@media (min-width: 1380px) {
  .stuffIDoGrid {
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas:
      "backend img-backend frontend"
      "backend img-frontend frontend";
  }
}

.backendCard {
  grid-area: backend;
}

.frontendCard {
  grid-area: frontend;
}

.backendImg {
  grid-area: img-backend;
}

.frontendImg {
  grid-area: img-frontend;
}
