// ===== whole page wrapper
.wrapper {
  --grid-margin: var(--space-s);

  background-color: var(--color-background);
  padding: var(--grid-margin);
}

@include common.tabletScreenStyles {
  .wrapper {
    --grid-margin: var(--space);
  }
}

// ===== ===== above fold grid
.introGridWrapper {
  display: grid;
  gap: var(--grid-margin);
  margin-bottom: var(--grid-margin);
}

@include common.tabletScreenStyles {
  .introGridWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

// ===== right side with text
.rightColumn {
  display: flex;
  flex-direction: column;
  gap: var(--grid-margin);
}

// ===== middle grid with dynamic info
.infoCardsGrid {
  display: grid;
  gap: var(--grid-margin);
}

@include common.tabletScreenStyles {
  .infoCardsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

// ===== ===== bottom grid with walk card
$bottomGrid_MinFull: 600px;
.bottomGrid {
  display: grid;
  gap: var(--grid-margin);
}

@media (min-width: $bottomGrid_MinFull) {
  .bottomGrid {
    grid-template-columns: auto 1fr;
  }
}

// =====
.walkCard {
  height: 13.75rem;
  width: 100%;
}

@media (min-width: $bottomGrid_MinFull) {
  .walkCard {
    width: 12.5rem;
    height: 100%;
  }
}
