$text-wall-height: 600;

:export {
  textWallHeight: $text-wall-height;
}

.wrapper,
.canvas {
  width: 100%;
  height: $text-wall-height + px;
}

.canvas {
  height: $text-wall-height + px;
  // opacity: 0;
}

// .fadeIn {
//   opacity: 1;
//   transition: opacity 1s ease-out;
// }
