.card {
  display: flex;
  flex-direction: column;
}

.noOverflow {
  overflow: hidden;
}

.cardPaddingWithoutBottom {
  padding: var(--space-l);
  padding-bottom: var(--space);
}

.logoStack {
  display: flex;
  flex-direction: row;
  gap: var(--space-s);
}

.graphic {
  padding: 0 var(--space-l);

  display: flex;
  flex-direction: column;
  gap: var(--space);
  flex-grow: 1;
  min-height: 0;
  position: relative;
}

.graphic svg {
  width: var(--space-l);
  height: var(--space-l);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left bottom;

  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
